body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px solid #ddd;
}

.logo h1 {
    font-size: 20px;
    margin: 0;
}

.links a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

.main {
    display: flex;
    padding: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.box {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.box img {
    width: 100%;
}

.box button {
    background-color: #eecfa1;
    border: none;
    padding: 8px;
    width: 100%;
    cursor: pointer;
}
.cartbuttoncontainer {
    text-align: right;       
    padding: 10px 50px;         
    background-color: #f9f9f9; 
}

.cartbtn {
    padding: 8px 15px;        
    background-color: #eecfa1;  
    border: none;               
    border-radius: 5px;         
    font-weight: bold;          
    
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}