
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}


.leftsection {
    width: 50%;
}

.leftsection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.rightsection {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 40px;
}


.formbox {
    width: 80%;
    max-width: 350px;
    background: #f9f9f9;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.formbox h2 {
    margin-bottom: 20px;
    color: #444;
}

.inputfield {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #eecfa1;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

#consolebtn
{
    width: 150px;      
    padding: 8px;      
    font-size: 14px
}

.textlink {
    color: #d4a44a;
    text-decoration: none;
    font-weight: bold;
}


.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

