body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
    border-bottom: 2px solid #eecfa1;
}

.logo h1 { 
    font-size: 20px; 
    margin: 0; 
}

.navlinks a { 
    text-decoration: none; 
    color: black; 
    margin-left: 20px; 
}

.active { 
    color: #d4af37; 
    font-weight: bold; 
}

.gridcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.card img { 
    width: 100%; 
    height: auto; 
}

.card button {
    background-color: #eecfa1;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}
.cartbuttoncontainer {
    text-align: right;       
    padding: 10px 50px;         
    background-color: #f9f9f9; 
}

.cartbtn {
    padding: 8px 15px;        
    background-color: #eecfa1;  
    border: none;               
    border-radius: 5px;         
    font-weight: bold;          
    
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
